/target
/dist
/media
/wiki-data/*
/.dioxus
/node_modules
.env
*.db
*.sqlite
/assets/tailwind.css
!/wiki-data/components/
/wiki-data/components/*
!/wiki-data/components/*.json

!/wiki-data/pages/
/wiki-data/pages/*
!/wiki-data/pages/home.md


!/assets/
/assets/*
!/assets/tailwind.css
